---
layout: layouts/base.njk
title: Web Developer near you 
permalink: /
---

<main> 
    <section class="hero-banner">
        <div class="container-fluid">
            <div class="hero-banner__left">
                <h1 class="hero-h1">Hey, <br> I'm Ken.</h1>
                <h3 class="hero-h2"> I build websites and write web copy. </h3> 
                <p class="landing-p">If you need a website, and you don't want to deal with gimmicks, jargon, or other buzzwords, click the button below. </p>
                <a href="" class="landing-cta-btn btn btn-primary">Learn More</a>
            </div>
            <div class="hero-banner__right">
                <img class="hero-image" src="" alt="">
            </div>
        </div>
    </section>

    <section class="services-banner">
        <div class="container-fluid">
            <h2 class="separator--full">
                <span class="primary-blue"> WHAT DO I DO? </span> 
            </h2>
            <p>I provide simple web solutions for businesses and entrepreneurs. Today, web development and design is overly complicated. Most businesses don't need an entire WordPress website, and frankly there are few reasons to use something like Squarespace or Wix (definitely don't use Wix). Websites should be simple, safe, and reliable. </p>
            
            {% include "components/services.njk" %}

        </div>
    </section>

    <section class="about-me">
        <div class="container-fluid">
            <h2 class="separator--full">
                <span class="primary-blue"> WHO AM I? </span> 
            </h2>

            <p class="justify-full">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dui bibendum tellus condimentum fermentum et ut est. Nunc congue facilisis justo, in bibendum dui consequat cursus.</p>
            <p class="justify-full">Curabitur facilisis ac nulla vitae viverra. Phasellus purus massa, ornare in sapien eu, ullamcorper suscipit ex. Suspendisse nec dignissim nibh. Curabitur convallis volutpat egestas. Aliquam consequat elit ut pellentesque venenatis. Suspendisse molestie metus eu pretium malesuada.</p>
            
        </div>
    </section>


</main>

