---
layout: layouts/base.njk
title: Web Developer near you 
permalink: /
---
{% set postslist = collections.posts %}

<main id="home-page"> 
    <section id="hero-banner" class="abstract-section hero-section bg-site-primary container-fluid">
        <header id="home-page-hero-header" class="hero-text">
            <h1 class="hero-header--primary a-slide-left__fast" >
                Is your website stressing you out? 
            </h1>
            <h2 class="hero-header--secondary a-slide-left__slow">
               It doesn't have to. 
            </h2>

            <div>
                <a href="" class="btn bg-white txt-site-primary btn-lg a-fade-in">
                    Learn more
                </a>
            </div>
        </header>

        <div>
            <img src="/assets/imgs/programmer.svg" id="hero-image">
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>

    <section id="top-section" class="abstract-section generic-section container-fluid">
        <header>
            <h2 class="section-header--tertiary txt-site-primary">Make your website work for you</h2>
            <h3>As business owner, you don't have time to be copywriter, content writer, and web developer.</h3>
        </header>

        <h4 id="process-header" class="section-header--quaternary txt-site-primary" style="margin-top: 5%;">
            How we'll put your website to work: 
        </h4>

        <div class="img-with-content">
            <div id="reasons">
                <div id="reason-1">
                    <h5><strong>1. Understand your goals</strong></h4>
                    <p>It could be as simple as making your website faster, or as complicated as rewriting your copy.</p>
                </div>
                <div id="reason-2">
                    <h5><strong>2. Create a plan of action</strong></h4>
                    <p>Agencies that offer only WordPress or SquareSpace are doing you a disservice. Let's create a plan that suits <strong>your business and your budget</strong></p>
                </div>
                <div id="reason-3">
                    <h5><strong>3. Craft high-quality, timely solutions</strong></h4>
                    <p>You needed a solution yesterday and one that will work. Benefit from solutions that work for you and not the other way around.</p>
                </div>

                <div id="reason-4">
                    <h5><strong>4. Futureproof your success</strong></h4>
                    <p>Retain the rights to your content and your website. Don't let your website or your content be held hostage by your developer or writer!</p>
                </div>
            </div>

            <img src="/assets/imgs/multitasking-person.svg" class="section-img__right" alt="Person Multitasking">
        </div>
    </section>

    <section id="services-section" class="abstract-section generic-section container-fluid">
        <header>
            <h2 class="section-header--tertiary txt-site-primary">What services do you provide?</h2>
            <h3>I can wear any of the following hats for you:</h3>
        </header>
        <div id="services">
            {% include "components/services.njk" %}
        </div>
    </section>

    <section id="reviews-section" class="container-fluid abstract-section generic-section__small bg-site-tertiary">
        <header >
            <h2 class="section-header--tertiary txt-site-primary">What Clients <br>Have Said:</h2>
        </header>

        <div id="carouselExampleDark" class="carousel c-carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="text-align: center;">
            <div class="c-carousel-item carousel-item active" data-bs-interval="5000">
                <p>"Excellent writing. Very responsive. Would hire again."</p>
                <p><a href="https://www.upwork.com/freelancers/~013d913fc9c8fd2419"><strong>- Daniel</strong> (Upwork)</a></p>
            </div>
            <div class="c-carousel-item carousel-item" data-bs-interval="5000">
                <p>"Great writer, very responsive!"</p>
                <p><a href="https://www.upwork.com/freelancers/~013d913fc9c8fd2419"><strong>- Petunia</strong> (Upwork)</a></p>
            </div>
            <div class="c-carousel-item carousel-item" data-bs-interval="8000">
                <p>"Always does a great job. Clean copy, always on time. Really gets our publication's voice."</p>
                <p><a href="https://www.upwork.com/freelancers/~013d913fc9c8fd2419"><strong>- Shane</strong> (Upwork)</a></p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </section>

    <section id="blog-section" class="abstract-section generic-section container-fluid">
        <header>
            <h2 class="header-spacing section-header--tertiary txt-site-primary">Latest Posts</h2>
        </header>
        <div class="latest-posts">
        {% for post in postslist %}
            {% if loop.index0 < 2 %} {# Only display 2 #}
                <div class="card c-card" style="width: 18rem;">
                    <img class="card-img-top" src="{{post.data.featuredImage}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.data.title }}</h5>
                        <p class="card-text m-blog-desc">{{ post.data.description }}</p>
                        <a href="{{ post.url | url }}" class="btn bg-site-primary">Read More</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

    </section>
</main>

{# <script>
    document.onreadystatechange = function () {
    if (document.readyState == "interactive") {
        fadeIn('#reviews-section', 'a-slide-left__slow');
        fadeIn('#blog-section', 'a-slide-right__slow');
        fadeIn('#services-section', 'a-slide-left__slow');
        fadeIn('#top-section', 'a-slide-right__slow');
    }
}
</script> #}