<svg style="display: block !important;" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
    <g mask="url(&quot;#SvgjsMask1053&quot;)" fill="none">
        <path d="M 0,5 C 126.8,17.6 380.4,62.4 634,68 C 887.6,73.6 1014.8,33.6 1268,33 C 1521.2,32.4 1773.6,58.6 1905,65L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
    </g>
    <defs>
        <mask id="SvgjsMask1053">
            <rect width="100%" height="100" fill="#ffffff"></rect>
        </mask>
    </defs>
</svg>
<footer id="footer" class="container-fluid">
    <div id="footer--logo">
        <a href="#nav-container">
            <img class="logo" src="../../assets/imgs/kw-logo-blue.png" alt="">
        </a>
    </div>

    <div id="footer--header">
        <h2 class="section-header--quaternary">Get in touch</h4> 
    </div>

    <div id="footer--contact-info">
        <ul id="footer--contact-details">
            <li><a href="mailto:kenneth.c.wilson92@gmail.com"> kenneth.c.wilson92@gmail.com</a></li>
            <li><a href="6139140794">613-914-0794</a></li>
        </ul>
    </div>

    <div id="footer--social-icons">
        <ul id="footer--icon-list">
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-tiktok"></i></li>
        </ul>
    </div>
</footer>