<footer id="footer" class="container-fluid">
    <div id="footer--logo">
        <a href="#nav-container">
            <img class="logo" src="../../assets/imgs/kw-logo-blue.png" alt="">
        </a>
    </div>

    <div id="footer--header">
        <h2 class="section-header--quaternary">Get in touch</h4> 
    </div>

    <div id="footer--contact-info">
        <ul id="footer--contact-details">
            <li><a href="mailto:kenneth.c.wilson92@gmail.com"> kenneth.c.wilson92@gmail.com</a></li>
            <li><a href="6139140794">613-914-0794</a></li>
        </ul>
    </div>

    <div id="footer--social-icons">
        <ul id="footer--icon-list">
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-tiktok"></i></li>
        </ul>
    </div>
</footer>