<div class="services-card">
    <h3 class="services-h3">
        <i class="fas fa-hat-wizard add-space primary-blue"></i> 
        Web Developer
    </h3>
    <p class="services-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ab, vitae illum voluptatem commodi numquam ea cum eveniet, assumenda, unde enim molestias? </p>
    <a href="" class="btn btn-outline-primary">Learn More</a>
</div>

<div class="services-card">
    <h3 class="services-h3">
        <i class="fab fa-pied-piper-hat add-space primary-blue"></i> 
        Copywriter
    </h3>
    <p class="services-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel eum dolore soluta itaque fugit sunt dolorem quos unde esse?</p>
    <a href="" class="btn btn-outline-primary">Learn More</a>
</div>

<div class="services-card">
    <h3 class="services-h3">
        <i class="fab fa-redhat add-space primary-blue"></i>
        Website Auditor
    </h3>
    <p class="services-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
    <a href="" class="btn btn-outline-primary">Learn More</a>
</div>