<div class="service-card">
    <h3 class="service-card--header">
        <i id="add-space-for-icon" class="fas fa-hat-wizard add-space"></i> 
        Web Developer
    </h3>
    <p class="service-card--txt">Tired of design agencies forcing their favourite website solution on you? The truth is: there are a thousand and one ways to build a website. Let's find out which solution is best for your business.</p>
    <a href="/services/web-development" class="btn btn-outline-light">Learn More</a>
</div>

<div class="service-card primary-white">
    <h3 class="service-card--header">
        <i id="add-space-for-icon" class="fab fa-pied-piper-hat add-space"></i> 
        Copywriter
    </h3>
    <p class="service-card--txt">Struggling to find the right words to express yourself and your businesss? Are you worried your copy won't entice your readers? Click the button below and find out how we can fix that. </p>
    <a href="/services/copywriting" class="btn btn-outline-light">Learn More</a>
</div>

<div class="service-card primary-white">
    <h3 class="service-card--header">
        <i id="add-space-for-icon" class="fab fa-redhat add-space"></i>
        Website Auditor
    </h3>
    <p class="service-card--txt">Is your website slow or not generating sales? Are you looking for a second opinion after meeting with an agency or web developer? My primary goal is to ensure small businesses and entrepreneurs can navigate the confusing world wide web with ease and comfort.</p>
    <a href="/services/website-auditing" class="btn btn-outline-light">Learn More</a>
</div>