<!-- This component is just a simple under construction page that can be embedded anywhere -->

<section class="generic-section abstract-section under-construction">
        <header class="container-fluid justify-center">
        <h2 class="section-header--tertiary">Page Under Construction</h2>
    </header>
    <img style="" src="/assets/imgs/coding-under-construction.svg" alt="Page under construction">
</section>