---
layout: layouts/base.njk
title: About Ken
permalink: /about/
---
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
    <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
        <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
    </g>
    <defs>
        <mask id="SvgjsMask1041">
            <rect width="100%" height="100" fill="#ffffff"></rect>
        </mask>
    </defs>
</svg>

<main id="about-page">
    <section class="abstract-section generic-section container-fluid">
        <div>
            <h1 class="hero-header--primary">About Ken</h1>
            <p style="font-size: 1.10em;"><strong>I’m Ken, writer and developer, and my philosophy is pretty simple.</strong> </p>
            <p>I create straightforward solutions (copy, content, websites) for businesses that are annoyed by how complicated it is to write (copy, content, websites). Let me explain how I got here.</p>
        </div>
    </section>

    <section class="abstract-section generic-section container-fluid bg-site-primary">
        <h2 class="txt-white">My Story</h2>
        <p class="txt-white">I’ve been writing and building websites since I was a kid, and I enjoy doing both. When it comes to writing, I truly just like doing it, and I’m only good at it because I do it a lot. There really isn’t much more to say about it. </p>
        <p class="txt-white">But when it comes to web development, that’s where this philosophy  originates. When I was younger, I used products like GeoCities or Freewebs to build sites for my friends or for Call of Duty clans. I had no idea what I was doing and just used the drag-and-drop editor. A decade later, I thought this hobby might be a fun job, so I tried to teach myself how to code. </p>
        <p class="txt-white">What a nightmare that was.</p>
        <p class="txt-white">I’ll never forget the frustration. For a year I tried to wrap my head around WordPress; I read the documentation—didn’t understand most of it—and resigned myself to being too dumb to do this kind of job. </p>
        <p class="txt-white">Then I decided to open my wallet and go back to school—maybe I could just get this institution to insert the knowledge directly into my brain. Thankfully, it worked. After 3 years of studying programming theory and writing code in a myriad of languages (from PHP to COBOL) at St. Lawrence College, I actually understood what I was doing. </p>
        <p class="txt-white">The point I'm trying to make is that I understand how annoying, frustrating, and tiring it is to have people tell you building a website is easy. It isn’t. It takes a lot of knowledge to do it well, and it takes even more time. </p>
        <p class="txt-white">All I try to do is provide you with simple solutions that actually work, and I try my very best to be as clear and straightforward as I can be. </p>
    </section>

    <section class="abstract-section generic-section container-fluid">
        <div style="display: flex; flex-direction: row; text-align: center; justify-content: space-between;">
            <div style="width: 25%;">
                <h2 style="font-size: 1.5em; font-weight: 500;">DEDICATED</h2>
                <p>I only deliver work I’m proud of. </p>
            </div>

            <div style="width: 25%;">            
                <h2 style="font-size: 1.5em; font-weight: 500;">SIMPLE SOLUTIONS</h2>
                <p>I understand how burdensome the wrong website can be. My websites are suited to your business and don’t require you to learn anything. </p>
            </div>

            <div style="width: 25%;">
                <h2 style="font-size: 1.5em; font-weight: 500;">SAME TIME ZONE</h2>
                <p>I live in Eastern Ontario, so I’m available when you’re available. </p>
            </div>
        </div>
    </section>
</main>
