---
layout: layouts/base.njk
title: Case Studies
permalink: /case-studies/
---

<main id="case-studies">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>

    <h1 class="hero-header--primary a-slide-left__fast" style="margin-left: 20%;">Case Studies</h1>

    <section class="generic-section container-fluid m-flex-row">
        <div class="card c-card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/imgs/changemakers-financial-logo.png" alt="Card image cap">
            <div class="card-body space-between">
                <h5 class="card-title">Changemakers Financial</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">Changemakers Financial is a Kingston-based financial services provider for those looking to make ethical, socially responsible investments that make you money. Full stop.</p>
                <a href="/case-studies/changemakers-financial" class="btn bg-site-primary">Read More</a>
            </div>
        </div> 

        <div class="card c-card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/imgs/wellman-logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wellman Clinic</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Copywriting | Web Development</strong></p>
                <p class="card-text m-blog-desc">Wellman clinic is a Peterborough-based chiropratic clinic. After completing an audit of both the site and the copy, I assisted Dr. Wellman with brand new site copy and custom JavaScript assets.</p>
                <a href="/case-studies/wellman-clinic" class="btn bg-site-primary">Read More</a>
            </div>
        </div>   

        <div class="card c-card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/imgs/house-of-three-logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">House of Three</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">House of Three is a BCIN-licensed architectural design company. I ghost write blog posts for subject matter experts on a monthly basis to deliver informative content and drive organic traffic. </p>
                <a href="/case-studies/house-of-three" class="btn bg-site-primary">Read More</a>
            </div>
        </div>  

        <div class="card c-card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/imgs/snapdownload-logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">The Snap Download</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">"Irreverence, Brevity, Contrarian Thinking" was the motto, and I delivered on those expectations over 70 times between 2014 and 2017. <strong>Content Warning: most of this content is very (c)rude</strong> </p>
                <a href="/case-studies/the-snap-download" class="btn bg-site-primary">Read More</a>
            </div>
        </div> 

        <div class="card c-card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/imgs/support-local-giveaway-logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Support Local Giveaway</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Web Development</strong></p>
                <p class="card-text m-blog-desc">A Kingston-based website that conducts free daily giveaways that support local businesses. I built a pop-up loyalty feature in their Auth0 Laravel app that tracked customer visits and engagement.</p>
                <a href="" class="btn bg-site-primary disabled">Coming Soon</a>
            </div>
        </div> 
    </section>
    
    <h2 class="hero-header--primary a-slide-left__fast" style="margin-left: 20%;">Miscellaneous Samples</h1>

    <section class="generic-section container-fluid m-flex-row">
        <div class="card c-card__misc" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">How to Choose the Best Coffee for You</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">A blog post to help drive organic traffic to a coffee company that specialized in coffee made without modern technology. The goal was to improve page authority.</p>
                <a href="/assets/downloads/Ken-Wilson_How_to_choose_the_best_coffee_for_you.docx" class="btn bg-site-primary">Download Sample</a>
            </div>
        </div> 

        <div class="card c-card__misc" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Locked Out</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Feature Article</strong></p>
                <p class="card-text m-blog-desc">A column I wrote for Spine Online magazine back in college in 2013. It's one of my favourites from school, and I think nails the eerie idleness that hockey fans felt during the last lockout.</p>
                <a href="/assets/downloads/Ken-Wilson_Locked-out.pdf" class="btn bg-site-primary">Download Sample</a>
            </div>
        </div> 

        <div class="card c-card__misc" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Galactic Suite Limited</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Press Release (Spec)</strong></p>
                <p class="card-text m-blog-desc">This is a spec piece I wrote in college for a fictional space company that... 10 years later ended up being a lot more true to life than I could have ever imagined.</p>
                <a href="/assets/downloads/Ken-Wilson_Press-Release(spec).pdf" class="btn bg-site-primary">Download Sample</a>
            </div>
        </div> 

        <div class="card c-card__misc" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Things I Should Have Asked My Landlord</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">This was one of three articles I wrote for a real-estate agent who wanted blog content to drive organic traffic to their website.</p>
                <a href="/assets/downloads/Ken-Wilson_QuestionsForYourLandlord.pdf" class="btn bg-site-primary">Download Sample</a>
            </div>
        </div> 

        <div class="card c-card__misc" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">What Goes on Inside a Beehive?</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">This is an excerpt from a piece of fiction I wrote. The purpose of the sample is just to show you the range of my writing ability--I started as a fiction writer, you see. Actually, I still am one.</p>
                <a href="/assets/downloads/Ken-Wilson_The-Secret-Workings-of-the_Beehive.pdf" class="btn bg-site-primary">Download Sample</a>
            </div>
        </div>

        <div class="card c-card__misc" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Toronto Maple Leafs: "State of the Union"</h5>
                <p class="card-text" style="font-size: .75em;"><strong>Content Writing</strong></p>
                <p class="card-text m-blog-desc">This is a blog post from an old Toronto Maple Leafs blog that I used to run. </p>
                <a href="/assets/downloads/Ken-Wilson_TML-State-of-the-Union.pdf" class="btn bg-site-primary">Download Sample</a>
            </div>
        </div>  
    </section>


</main>