---
layout: layouts/base.njk
title: Case Studies | Changemakers Financial
permalink: /case-studies/changemakers-financial/
---

<main id="case-studies-changemakers-financial">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>
    <section id="case-study" class="generic-section container-fluid cs-body">
        <div id="cs-overview">
            <a href="/case-studies" class="no-link-underline"> << Back to Case Studies </a>
            <h1 class="txt-site-primary">Changemakers Financial</h1>
            <h2>When you're a pioneer, how do you communicate your ideas with everybody else?</h2>
            <p style="font-size: 1.25em; margin: 2% 0 3% 0;">What separates successful pioneers is the ability to sell a convincing story.</p>
            <h3 style="font-size: 1.15em; margin-top: 1%;"><strong>Company Profile</strong></h3>
            <p>Changemakers Financial is your trusted source for investment advisors. By coupling expert advisors with socially responsible investing, Changemakers Financial aims to make the future bright for everyone. </p>    
            <h3 style="font-size: 1.15em; margin-top: 1%;"><strong>Content Writing</strong></h3>
            <p>The idea of ethical consumption is not new. Whether it be for issues of social justice or otherwise, I'm sure we've all committed to boycotting a company before (to varying degrees of success, of course). Yet one aspect of being socially responsible gets overlooked: investing. How do you invest for your future while simultaneously ensuring there... is a future. That is the question Changemakers Financial sets out to answer.</p>    
            <p>So, to answer this question, I wrote 5 articles to help inform readers on this new wave of investment opportunities. The greatest challenge I faced while writing was debunking the myth that socially responsible investing awards you with a mediocre ROI. It's not true. But to convince readers, I needed to do research and have numbers to back us up. And once I had those numbers, I needed to write an article that wasn't boring--that wasn't just a regurgitation of our supporting data.</p>
            <p>It was one of my most challenging projects to date, but I am very happy with the results. </p>
        </div>
        
        <div id="client-info">
            <h3 class="hero-header--secondary txt-site-primary">Client</h2>
            <p>Changemakers Financial</p>
            <h3 class="hero-header--secondary txt-site-primary">Help Provided</h2>
            <p><strong>Content Writing</strong></p>
            <p>The 5 articles I wrote were a part of Changemaker's launch, and were intended to inform readers on a new concept: impact investing. I conducted research, wrote, and edited each article.</p>
            <h3 class="hero-header--secondary txt-site-primary">Downloads</h2>
            <ul>
                <li>
                    <a href="/assets/downloads/Changemakers_ESGvsSRIvsII.pdf">ESG vs SRI vs Impact Investing (PDF)</a>
                </li>
                <li>
                    <a href="/assets/downloads/Ken-Wilson_Asking-the-right-questions.pdf">Asking the Right Questions (PDF)</a>
                </li>
                <li>
                    <a href="/assets/downloads/Changemakers_How-to-start-impact-investing.pdf">How to Start Impact Investing (PDF)</a>
                </li>
                <li>
                    <a href="/assets/downloads/Changemakers_Why-choose-changemakers-financial/pdf">Why Choose Changemakers Financial? (PDF)</a>
                </li>
                <li>
                    <a href="/assets/downloads/Changemakers_5-reasons-why-impact-investing-is-important.pdf">5 Reasons Impact Investing is Important (PDF)</a>
                </li>
            </ul>
        </div>
    </section>
</main>