---
layout: layouts/base.njk
title: Ken Wilson | Content Writing Kingston
permalink: /services/content-writing/
---

<main id="content-writing-page">
    <section id="hero-banner" class="abstract-section hero-section bg-site-primary container-fluid">
        <header id="home-page-hero-header" class="hero-text">
            <h1 class="hero-header--primary a-slide-left__fast" >
                Lots of great ideas? No time to write?  
            </h1>
            <h2 class="hero-header--secondary a-slide-left__slow">
               I've got time to share 
            </h2>

            <div>
                <a href="/contact" class="btn bg-white txt-site-primary btn-lg a-fade-in">
                    Contact Ken
                </a>
            </div>
        </header>

        <div>
            <img src="/assets/imgs/report.svg" id="hero-image">
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>

    <section id="top-section" class="abstract-section generic-section container-fluid">
        <header class="">
            <h2 class="section-header--tertiary txt-site-primary">Are you a subject matter expert or a business owner with ideas for content?</h2>
        </header>

        <div>
            <h3>How do you write engaging content?</h3>
            <p>You probably know this already, but writing good content takes forever. Sure, the internet will tell you that you can fart out a blog post in under 2 hours, but what they don't tell you is no one is going to read it.    </p>
            <p>A blog post can take 10 hours to complete from ideation to final proofread--and that's if you know what you're doing (and if nothing goes wrong). As a business owner or subject matter expert, you probably have great ideas for content and a wealth of knowledge that you should share, but do you have 10+ hours a week or a month to research, write, edit, and publish a blog post?</p>
            <p>So how do I make content writing easy for you? There are only 6 steps, and you only need to do the 2 easiest ones. Let's start with what I'll deliver: </p>
        </div>
    </section>

    <section id="step-6" class="container-fluid hero-section step-section step-section__right">
        <div class="step-section__text">
            <h3>WHAT YOU'LL GET</h3>
            <p> So many writers deliver "blah" content, and if it's boring, your bounce rate will increase. I write content that you and your readers will enjoy.</p>
            <p> <strong> Blog posts | LinkedIn Articles | And More </strong> </p>
        </div>
        <div>
            <img src="/assets/imgs/STEP6.png" id="hero-image" style="width: 200px;">
        </div>
    </section>

    <section id="step-5" class="abstract-section hero-section step-section container-fluid">
        <div>
            <img src="/assets/imgs/STEP5.png" id="hero-image" style="width: 200px;">
        </div>
        
        <div class="step-section__text">
            <h3>REVISIONS</h3>
            <p>I’m not satisfied until you are, and I check my ego at the door. I’ll work with you to make sure your content matches your brand’s voice. </p>
        </div>
    </section>

    <section id="step-4" class="container-fluid hero-section step-section step-section__right">
        <div class="step-section__text">
            <h3>RECEIVE YOUR FIRST DRAFT</h3>
            <p>I provide you with a first draft early to make sure we’re headed in the right direction; open communication is the key to our success. </p>
        </div>

        <div>
            <img src="/assets/imgs/STEP4.png" id="hero-image" style="width: 200px;">
        </div>
    </section>

    <section id="step-3" class="container-fluid hero-section step-section">
        <div>
            <img src="/assets/imgs/STEP3.png" id="hero-image" style="width: 200px;">
        </div>

        <div class="step-section__text">
            <h3>CONTENT STRATEGY</h3>
            <p>Depending on the project, we'll develop a strategy for delivering your content. This includes setting up regular meetings (if necessary) and deciding on our workflow.</p>
        </div>
    </section>

    <section id="step-2" class="container-fluid hero-section step-section step-section__right">
        <div class="step-section__text">
            <h3>CONSULTATION & QUOTE </h3>
            <p>We’ll meet over the phone or via Zoom (whichever you prefer) to discuss your business and your goals. Initial consultations are 1 hour and free.</p>
        </div>

        <div>
            <img src="/assets/imgs/STEP2.png" id="hero-image" style="width: 200px;">
        </div>
    </section>

    <section id="step-1" class="container-fluid hero-section step-section">
        <div>
            <img src="/assets/imgs/STEP1.png" id="hero-image" style="width: 200px;">
        </div>
        <div class="step-section__text">
            <h3>CONTACT KEN </h3>
            <p>Fill out the form below, and hear back from me within 24 hours!</p>
        </div>
    </section>

    <section class="abstract-section generic-section" style="width: 90%; margin-left: 5%;">
        <form name="contact" action="/thank-you" method="POST" netlify-honeypot="not-this-one" data-netlify="true">
            <div class="form-group form-spacing">
                <label for="email">Email Address <span style="color: red;">*</span></label>
                <input id="email" name="Client-Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email Address" required>
            </div>
            <div class="form-group form-spacing">
                <label for="client-name">Your Name <span style="color: red;">*</span></label>
                <input id="client-name" name="Client-Name" type="text" class="form-control" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group form-spacing">
                <label for="client-site">Your Website</label>
                <input id="client-site" name="Client-Website" type="text" class="form-control" placeholder="What's your website URL (example: kenwrites.ca)">
            </div>
            <div class="form-group form-spacing">
                <label for="help-type">What do you need help with?</label>
                <select class="form-control" name="Help-Type" id="help-type">
                    <option value="content">Content Writing</option>
                </select>
            </div>
            <div class="form-group form-spacing" style="display: flex; flex-direction: column;">
                <label>Are you looking for a website/writing audit today?</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Audit" id="audit-yes" value="yes">
                    <label class="form-check-label" for="audit-yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Audit" id="audit-no" value="no">
                    <label class="form-check-label" for="audit-no">No</label>
                </div>
            </div>

            <div class="form-group form-spacing">
                <label for="message">Please briefly describe your project:</label>
                <textarea class="form-control" name="Description" id="message" rows="5" placeholder="Describe your project (250 word maximum)" max-length="250"></textarea>
            </div>
            <div class="form-group form-spacing">
                <button id="contact-submit" class="btn bg-site-primary btn-lg" type="submit">Submit</button>
            </div>
            <input type="text" class="not-this-one" name="not-this-one">
        </form>
    </section>
</main>

<script>
    document.onreadystatechange = function () {
    if (document.readyState == "interactive") {
        fadeIn('#top-section', 'a-slide-right__slow');
        fadeIn('#step-6', 'a-slide-left__slow');
        fadeIn('#step-5', 'a-slide-right__slow');
        fadeIn('#step-4', 'a-slide-left__slow');
        fadeIn('#step-3', 'a-slide-right__slow');
        fadeIn('#step-2', 'a-slide-left__slow');
        fadeIn('#step-1', 'a-slide-right__slow');
    }
}
</script>