---
layout: layouts/base.njk
title: Ken Wilson | Writing Services
permalink: /services/copywriting/
---

<main id="copywriting-page">
    <section id="hero-banner" class="abstract-section hero-section bg-site-primary container-fluid">
        <header id="home-page-hero-header">
            <h1 class="hero-header--primary a-slide-left__fast" >
                Does your writing not match your brand's voice? 
            </h1>
            <h2 class="hero-header--secondary a-slide-left__slow">
               I can help
            </h2>

            <div>
                <a href="/contact" class="btn bg-white txt-site-primary btn-lg a-fade-in">
                    Learn more
                </a>
            </div>
        </header>

        <div>
            <img src="/assets/imgs/report.svg" id="hero-image">
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>

    <section class="abstract-section generic-section container-fluid">
        <header class="">
            <h2 class="section-header--tertiary">Copywriting:</h2>
        </header>

        <div class="">
            <p class="generic-section-text">
                You'll read all over the internet that you have X number of seconds to catch the attention of your reader. I’m sure one of those numbers is correct, but the simpler and true answer is: you need to catch them with your headline, and then you need to re-catch them with the next line, and the next line, and followed by (you guessed it) the next line. 
            </p>
            <p class="generic-section-text">
                So how do you keep a reader engaged line-by-line and convince them to do whatever you’re asking them to do (buy a product, buy your services, donate to a cause)? You fail a lot until you figure out what works—or you just hire someone like me who’s already done that. 
            </p>
            <h3>I deliver copy that:</h3>
            <ul>
                <li>Answers your reader's questions</li>
                <li>Engages them</li>
                <li>Builds trust with your brand</li>
                <li>Persuades readers to put aside their objections</li>
                <li>Converts them into customers</li>
            </ul>
        </div>
    </section>

    <section class="abstract-section generic-section container-fluid bg-site-tertiary">
        <header class="">
            <h2 class="section-header--tertiary">Content Writing:</h2>
        </header>

        <div class="">
            <p class="generic-section-text">
                You probably know this already, but writing good content takes forever. Sure, the internet will tell you that you can fart out a blog post in under 2 hours, but what they don't tell you is no one is going to read it.             </p>
            <p class="generic-section-text">
                A blog post can take 10 hours to complete from ideation to final proofread--and that's if you know what you're doing (and if nothing goes wrong). As a business owner or subject matter expert, you probably have great ideas for content and a wealth of knowledge that you should share, but do you have 10+ hours a week or a month to research, write, edit, and publish a blog post?             </p>
            <h3>I deliver content that:</h3>
            <ul>
                <li>Readers enjoy</li>
                <li>Establishes your brand</li>
                <li>Is delivered in a timely manner</li>
                <li>Drives traffic to your site</li>
                <li>Strengthens the connection with your customers</li>
            </ul>
        </div>
    </section>

    <section class="abstract-section generic-section container-fluid">
        <header class="">
            <h2 class="section-header--tertiary">Editing Services:</h2>
        </header>

        <div class="">
            <p class="generic-section-text">
                Editing is tedious, boring (so boring), so let's cut to the chase: pawn it off on me--I deserve the punishment anyway. 
            </p>
            
            <p class="generic-section-text">
                Did you know that there are different types of editing? It's not just proofreading for spelling mistakes. I specialize in a type of editing called "substantive editing" or "developmental editing." This type of editing looks at a piece of writing at the macro level and focuses on defining goals, identifing readers, and organizing the ideas. 
            </p>                
            <h3>I can provide:</h3>
            <ul>
                <li>Substantive editing</li>
                <li>Copy editing</li>
                <li>Proofreading</li>
            </ul>
        </div>
    </section>
</main>