---
layout: layouts/base.njk
title: Copywriting
permalink: /services/copywriting/
---

<main id="copywriting-page">
    <section class="abstract-section hero-section bg-site-primary">
        <header class="header-spacing">
            <h1 class="hero-header--primary a-slide-left__fast">
                Not enough time to write?
            </h1>
            <h2 class="hero-header--secondary a-slide-left__slow">
                Worried your writer won't <i>get your business</i>?
            </h2>
        </header>

        <div>
            <img src="/assets/imgs/freelance.svg" id="hero-image">
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="none" viewBox="0 0 100% 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1900,11L1900 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>

    <section class="generic-section abstract-section bg-site-primary section-padding">
         <header class="container-fluid justify-center">
            <h2 class="section-header--tertiary">Services</h2>
        </header>
        <p>Good copy sells, and good content attracts potential new customers. Google says so. The experts say so. But writing good copy and engaging content takes time—time you, as a business owner, probably don’t have. Statistics say a single blog post takes approximately 3 hours to write on average, and studies indicate you should be posting 2-4 times per week. Do you have twelve hours per week to dedicate to your company blog?  </p>
        <p>Writing website copy takes even longer. A single webpage (like this one) took me five hours to write. Just this one page—and it’s only about 600 words, which is shorter than the recommended blog post. </p>
        <p>Now calculate how much you pay yourself per hour. Does it make sense to write your own content? If it does, I’ve got some tips about how to write an engaging blog post. If it doesn’t, here’s a link to the Contact Ken page. </p>
    </section>
</main>