---
layout: layouts/base.njk
title: Thank you!
permalink: /thank-you/
---

<main id="success-page">
    <section class="abstract-section generic-section under-construction">
        <h1 style="text-align: center" class="hero-header--primary">Thank you for reaching out! <br> I'll be in touch shortly!</h1>
        <img src="/assets/imgs/hand-shake.svg" alt="Thank you handshake">
    </section>
</main>