---
layout: layouts/base.njk
title: Case Studies | House of Three
permalink: /case-studies/house-of-three/
---

<main id="case-studies-wellman-clinic">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>
    <section id="case-study" class="generic-section container-fluid cs-body">
        <div id="cs-overview">
            <a href="/case-studies" class="no-link-underline"> << Back to Case Studies </a>
            <h1 class="txt-site-primary">House of Three</h1>
            <h2>How do you offer your expertise when there isn't enough time in the day?</h2>
            <p style="font-size: 1.25em; margin: 2% 0 3% 0;">In today's demanding digital world, it can be nearly impossible for business owners to maintain their digital presence and serve their clients.</p>
            <h3 style="font-size: 1.15em; margin-top: 1%;"><strong>Company Profile</strong></h3>
            <p>House of Three is a BCIN-licensed architectural technology firm in Ontario, Canada that provides custom plans for innovative functionality and lasting, unique designs.</p>    
            <h3 style="font-size: 1.15em; margin-top: 1%;"><strong>Content Writing</strong></h3>
            <p>Each month I sit down with president and leader designer Lisa Henderson and turn her expert knowledge into entertaining and digestible content for readers.</p>
            <p>The goal of this project is to drive organic traffic and establish House of Three as an authority in this space. Articles range from tips on planning your new cottage, home, or home office, to building greener on a budget. To date, this project has been my most successful.</p>    
            <p>House of Three is a perfect example of how quickly you can see success with a great website, interesting content, and a bit of dedication.</p>
        </div>
        
        <div id="client-info">
            <h3 class="hero-header--secondary txt-site-primary">Client</h2>
            <p>House of Three</p>
            <h3 class="hero-header--secondary txt-site-primary">Agency</h2>
            <p>Working alongside the digital marketing experts at: <a class="no-link-underline" href="https://www.majorimpact.ca">Major Impact</a></p>
            <h3 class="hero-header--secondary txt-site-primary">Help Provided</h2>
            <p><strong>Content Writing</strong></p>
            <p>I write SEO-friendly blog posts for House of Three that are published the first of each month. There are a few samples below, though they may not be the most recent.</p>
            <h3 class="hero-header--secondary txt-site-primary">Downloads</h2>
            <ul>
                <li>
                    <a href="/assets/downloads/House-of-Three_Top_7_Home_Office_Ideas.pdf">Top 7 Home Office Ideas (PDF)</a>
                </li>
                <li>
                    <a href="/assets/downloads/House-of-Three_Secondary_dwelling_units_aging_in_place.pdf">Asking the Right Questions (PDF)</a>
                </li>
                <li>
                    <a href="/assets/downloads/House-of-Three_Dont-make-these-mistakes-when-buying-a-secondary-suite.pdf">Don't make these mistakes when buying a secondary suite (PDF)</a>
                </li>
            </ul>
        </div>
    </section>
</main>