---
layout: layouts/base.njk
title: Ken Wilson | Blog
permalink: /posts/
---
<!-- This is the blog list -->

{% set postslist = collections.posts %}
<main id="blog-list-page">
    <section class="abstract-section generic-section blog-list">
        {% include "components/postslist.njk" %}
    </section>
</main>

