---
layout: layouts/base.njk
title: Website Services
permalink: /services/web-development/
---

<main id="webdev-page">
    <section id="hero-banner" class="abstract-section hero-section bg-site-primary container-fluid">
        <header id="home-page-hero-header">
            <h1 class="hero-header--primary a-slide-left__fast" >
                Tired of babysitting your website?
            </h1>
            <h2 class="hero-header--secondary a-slide-left__slow">
               Imagine a world where your website works for you--it can be a reality
            </h2>

            <div>
                <a href="/contact" class="btn bg-white txt-site-primary btn-lg a-fade-in">
                    Learn more
                </a>
            </div>
        </header>

        <div>
            <img src="/assets/imgs/report.svg" id="hero-image">
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>

    <section class="abstract-section generic-section container-fluid">
        <header class="">
            <h2 class="section-header--tertiary">I Build Brochure Websites</h2>
            <h3 class="section-header--quaternary">How do brochure websites help your business?</h2>
        </header>

        <div style="margin-bottom: 2.5em;">
            <p class="generic-section-text">
                A brochure website is a type of website that’s built to inform visitors about your business and your services. As a simple example, this website is a brochure website. It’s here simply to inform you of the services I can provide for you, and to give you a way to contact me. Typically, these sites have the following pages: 
            </p>

            <ul>
                <li>Homepage</li>
                <li>About Us</li>
                <li>Services</li>
                <li>Contact Us</li>
            </ul>

            <p>Additional pages may include:</p>

            <ul>
                <li>Portfolio page</li>
                <li>Gallery page</li>
                <li>Blog</li>
            </ul>

            <p>
                <strong>Brochure websites are desired by both small and large businesses</strong> primarily due to their <strong>high ROI and low maintenance costs</strong>. The reason brochure websites have such a high ROI is because in today’s digital world 80% of customers research online before they buy—if you’re not putting yourself out there, you’re likely getting skipped over. Additionally, 60% of consumers start a purchase via a search engine like Google. So, if you’re able to rank on the first page of Google, you’re putting yourself in front of a lot of eyes. 
            </p>

            <p>
                With regards to maintenance costs, brochure websites don’t often have many moving parts. The only logins will be for administrators to conduct updates; there are also no e-commerce features. Maintenance of a brochure website can be as simple as updating text on a page every few months when your services change (and if your website is built properly, you shouldn’t need to hire a developer to make these changes for you). 
            </p>
        </div>
    </section>

    <section class="abstract-section generic-section container-fluid bg-site-tertiary">
        <header class="">
            <h2 class="section-header--tertiary">I Fix Broken Websites</h2>
            <h3 class="section-header--quaternary">Site suddenly not working right? Need it fixed right now?</h2>
        </header>

        <div>
            <p>
                Any number of things can cause a website to go offline or malfunction. It could be a WordPress Core update, a PHP update, a plugin, an issue with your hosting, or malicious interference. All of these issues can be fixed, so don’t fret. If you’re not sure where to start, or what the error you’re seeing even means, please reach out—I can take a look and let you know what I think (for free). 
            </p>

            <p>
                Do note that when it comes to fixing websites, I don’t limit myself to brochure websites. If you have a more complex web application, I can certainly fix bugs in your code. 
            </p>
        </div>
    </section>

    <section class="abstract-section generic-section container-fluid">
        <header class="">
            <h2 class="section-header--tertiary">I Upgrade Websites</h2>
            <h3 class="section-header--quaternary">Need a new feature added to your website?</h2>
        </header>

        <div>
            <p>Though I only build new brochure websites, I can help you upgrade your website even if it’s more complex. This includes (but is not limited to) adding features to your WordPress website, integrating a completely custom feature like a Stripe payment gateway to your web application, or redesigning the pages. </p>
            <p>It would be impossible to cover every single service I can help you with on this page, so if you’re unsure if your project is in my purview, please reach out, and I’ll try to get back to you within 24 hours. </p>
        </div>
    </section>
</main>