---
layout: layouts/base.njk
title: Website Auditing
permalink: /services/website-auditing/
---

<main id="auditing-page">
    <section class="abstract-section hero-section">
        <header>
            <h1 class="hero-header--primary a-slide-left__fast">
                Ranking low on Google?
            </h1>
            <h2 class="hero-header--secondary a-slide-left__slow">
                I can help you 
                <span class="bold">
                    today for free
                </span>
            </h2>
        </header>


        <div class="a-fade-in">
            <a href="" class="btn btn-primary btn-lg">
                Contact Ken
            </a>
        </div>


        <div>
            <img id="hero-image" src="/assets/imgs/report.svg" alt="looking-at-stats">
        </div>


    </section>

    <section class="abstract-section generic-section container-fluid">
        <header class="">
            <h2 class="section-header--tertiary">How will a <br> website audit help me?</h2>
        </header>

        <div class="">
            <p class="generic-section-text ">If I asked you, “I’ll check your car for free, today, and let you know if there’s anything wrong with it.” Would you turn me down? </p> <p>I wouldn’t. </p> <p> But that’s because I don’t know much about cars, including the consequences of not catching an issue soon enough. So if you’re interested in catching issues with your website before they cost you, there’s a quick, 5 question form at the bottom of this page.</p>
        </div>
    </section>

    <section class="abstract-section generic-section section-header--right bg-site-secondary container-fluid">
        <header>
            <h2 class="section-header--tertiary">How are your website audits better?</h2>
        </header>

        <article class="space-for-service-section">
            <h3 class="section-header--quaternary cl-site-primary">You can understand them</h3>

            <p>I break my findings down into a simple, jargon-less report with actionable tasks that will tell you how to improve your website.</p>
        </article>

        <article>
            <h3 class="section-header--quaternary cl-site-primary">You'll receive your audit within 24 hours</h3>
            <p>Tired of reaching out for help, only to hear back a month later? That's not helpful. Let's get you and your business on the right track. <span class="bold">today</span></p>
        </article>

        <article>
            <h3 class="section-header--quaternary cl-site-primary">They're free</h3>
            <p>I don't charge for a website audit! Knowledge is power, and I'm here to empower you and your business.</p>
        </article>
    </section>

    <!-- <section class="generic-section">
        <div class="container-fluid">
            <h2 class="generic-header">What do I do with the results?</h2>
        </div>
    
        <div class="container-fluid">
            <p class="generic-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
            <p class="generic-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
        </div>
    </section> -->

    <section class="abstract-section generic-section bg-site-primary container-fluid">
        <header>
            <h2 class="section-header--tertiary">Can I do a website audit myself?</h2>
        </header>

        <div>
            <p class="generic-section-text">Of course! In fact, if you’re using Google Chrome as your browser, there’s a built-in auditing tool called Lighthouse you can use. The results may be a tad confusing, but this post of mine can help your translate.  </p>
            <p class="generic-section-text">If you’re interested in doing an audit yourself, take my <a href="" class="">Website Auditing Playbook</a> with you (it’s also free).</p>
        </div>
    </section>

    <section class="abstract-section generic-section section-header--right container-fluid">
        <header>
            <h2 class="section-header--tertiary">How much does an audit cost?</h2>
        </header>

        <p class="generic-section-text">Exactly $0.00 (CAD)</p>

    </section>
 
    <section class="generic-section" style="display:none">
        <form action="">
            
        </form>
    </section>

</main>
