---
layout: layouts/base.njk
title: Website Auditing
permalink: /services/website-auditing/
---

<main>
    <section class="hero-banner">
        <div class="container-fluid hero-banner__left">
            <h1 class="hero-h1">Ranking low <br> on Google?</h1>
            <h2 class="hero-h2">I can help you <span class="italic">today</span> for free</h2>

            <a href="" class="btn btn-primary">Contact Ken</a>
        </div>
    </section>

    <section class="generic-section generic-section__grey">
        <div class="container-fluid">
            <h2 class="generic-header">How will a <br> website audit help?</h2>
        </div>

        <div class="container-fluid">
            <p class="generic-section-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
        </div>
    </section>

    <section class="generic-section justify-right">
        <div class="container-fluid">
            <h2 class="generic-header">How do you conduct your audits?</h2>
        </div>

        <div class="container-fluid">
            <p class="generic-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
        </div>
    </section>

    <section class="generic-section">
        <div class="container-fluid">
            <h2 class="generic-header">What do I do with your audit?</h2>
        </div>
    
        <div class="container-fluid">
            <p class="generic-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
        </div>
    </section>

    <section class="generic-section text-light generic-section__blue">
        <div class="container-fluid">
            <h2 class="generic-header">Can I do a website audit myself?</h2>
        </div>

        <div class="container-fluid">
            <p class="generic-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
        </div>
    </section>

    <section class="generic-section justify-right">
        <div class="container-fluid">
            <h2 class="generic-header">How much does an audit cost?</h2>
        </div>

        <div class="container-fluid">
            <p class="generic-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque assumenda a dolorum! Qui debitis laboriosam sed, beatae cumque maiores, dicta commodi saepe incidunt, cum fugit officiis voluptatem distinctio error aliquid.</p>
        </div>
    </section>
 
    <section class="generic-section" style="display:none">
        <!-- Contact Form -->
    </section>

</main>
