---
layout: layouts/base.njk
title: Case Studies | Wellman Clinic
permalink: /case-studies/wellman-clinic/
---

<main id="case-studies-wellman-clinic">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="100%" height="100" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1905 100">
        <g mask="url(&quot;#SvgjsMask1041&quot;)" fill="none">
            <path transform="scale(1, -1) translate(0, -100)" d="M 0,76 C 126.8,67 380.4,31.4 634,31 C 887.6,30.6 1014.8,78 1268,74 C 1521.2,70 1773.6,23.6 1905,11L1905 100L0 100z" fill="rgba(13, 110, 253, 1)"></path>
        </g>
        <defs>
            <mask id="SvgjsMask1041">
                <rect width="100%" height="100" fill="#ffffff"></rect>
            </mask>
        </defs>
    </svg>
    <section id="case-study" class="generic-section container-fluid cs-body">
        <div id="cs-overview">
            <a href="/case-studies" class="no-link-underline"> << Back to Case Studies </a>
            <h1 class="txt-site-primary">Wellman Clinic</h1>
            <h2>How do we tell the right story?</h2>
            <p style="font-size: 1.25em; margin: 2% 0 3% 0;">When competition is stiff, and your local scene is oversaturated, how do you stand out? By offering a unique perspective.</p>
            <p>Dr. Ange Wellman has a lot to offer the people of Peterborough, Ontario. However, due to a glut of chiropractic clinics in this town of 85,000, she felt like she was constantly having to market and was not able to focus on her practice. She needed a website that could work without her having to babysit it. </p>    
            <h3 style="font-size: 1.15em; margin-top: 1%;"><strong>Copy rewrite</strong></h3>
            <p>After auditing the website, two things were apparent. First, there were high-traffic, low-competition keywords that we could dominate and use to elevate the Wellman Clinic. Second, the copy did not always answer user's implicit questions. </p>    
            <p>So, the copy on the home page, about page, and services pages was rewritten to be more succinct and to clearly explain why the Wellman Clinic was safe, gentle, and geared toward women and families. </p>
            <h3 style="font-size: 1.15em;"><strong>Website Audit</strong></h3>
            <p>Dr. Wellman's website was put together very well by the previous developer. However, there was room for SEO improvements. Foremost, there were two instances where important text (h1 and client testimonials) were images and not text. Doing this makes it more difficult for Google to understand what your content is about. </p>    
            <p>The HTML was rewritten so it was semantic, and had text overlaying the images. I also built an entirely custom, yet incredibly simple, client testimonial carousel in vanilla JavaScript. </p>
        </div>
        
        <div id="client-info">
            <h3 class="hero-header--secondary txt-site-primary">Client</h2>
            <p>Wellman Clinic</p>
            <h3 class="hero-header--secondary txt-site-primary">Help Provided</h2>
            <p><strong>Copywriting</strong></p>
            <p>I completed a full copywriting audit of the website, and then rewrote and reorganized the web copy. Especially on the home page.</p>
            <p><strong>Web Development</strong></p>
            <p>After completing a website audit, I fixed semantic HTML issues and provided the client with a testimonials carousel written in vanilla JS.</p>
            <h3 class="hero-header--secondary txt-site-primary">Downloads</h2>
            <a href="/assets/downloads/Wellman_Clinic_Before_and_After.pdf">Wellman_Clinic_Before_and_After.pdf</a>
        </div>
    </section>
    <section class="cs-deliverables justify-center abstract-section container-fluid m-txt-center">
        <h2>Delivered Assets</h2>
        <div>
            <h3>JavaScript Carousel</h3>
            <video class="cs-video-player" autoplay loop>
                <source src="/assets/imgs/wellman-carousel.mp4">
            </video>
        </div>

        <div>
            <h3>Home Page</h3>
            <img class="cs-sample-img" src="/assets/imgs/wellman-home-page.png" alt="Wellman Clinic Home Page">
        </div>
    </section>
</main>