---
layout: layouts/base.njk
---

<h2 class="post-title">{{ title }}</h2> 

<img class="post-img" src="{{ featuredImage | url }}" alt="tst"></img>
<div class="container-fluid post-body">
    {{ content | safe }}
</div> 